ProsessPilotene.Signicat.WebApi/Service References/SignicatPreProdPkg/PackagingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://id.signicat.com/definitions/wsdl/Packaging-v4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PackagingService" targetNamespace="https://id.signicat.com/definitions/wsdl/Packaging-v4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="https://id.signicat.com/definitions/wsdl/Packaging-v4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="create-package-request">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="version" type="xs:string" />
            <xs:element name="service" type="xs:string" />
            <xs:element name="password" type="xs:string" />
            <xs:element name="validation-policy" type="xs:string" />
            <xs:element name="packaging-method" type="xs:string" />
            <xs:element default="false" name="send-result-to-archive" type="xs:boolean" />
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="sdo-extended" type="tns:sdo-extended" />
              <xs:element name="sdo" type="tns:document-id" />
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="create-package-response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string" />
            <xs:element minOccurs="0" name="error" type="tns:error" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="sdo-extended">
        <xs:sequence>
          <xs:element name="sdo" type="tns:document-id" />
          <xs:element minOccurs="0" name="supplementary-data" type="tns:supplementary-data" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="document-id">
        <xs:sequence>
          <xs:element minOccurs="0" name="archive-document-id" type="tns:archive-document-id" />
          <xs:element minOccurs="0" name="order-document-id" type="tns:order-document-id" />
          <xs:element minOccurs="0" name="sds-document-id" type="tns:sds-document-id" />
          <xs:element minOccurs="0" name="uri-document-id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="archive-document-id">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="order-document-id">
        <xs:sequence>
          <xs:element name="request-id" type="xs:string" />
          <xs:element minOccurs="0" name="task-id" type="xs:string" />
          <xs:element name="document-id" type="xs:string" />
          <xs:element default="result" name="type" nillable="true" type="tns:order-document-type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sds-document-id">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="supplementary-data">
        <xs:sequence>
          <xs:element minOccurs="0" name="original-document" type="tns:document-id" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="error">
        <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="order-document-type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="source" />
          <xs:enumeration value="result" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="create-package">
    <wsdl:part name="request" element="tns:create-package-request" />
  </wsdl:message>
  <wsdl:message name="create-packageResponse">
    <wsdl:part name="response" element="tns:create-package-response" />
  </wsdl:message>
  <wsdl:portType name="PackagingEndPoint">
    <wsdl:operation name="create-package">
      <wsdl:input name="create-package" message="tns:create-package" />
      <wsdl:output name="create-packageResponse" message="tns:create-packageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PackagingServiceSoapBinding" type="tns:PackagingEndPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create-package">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="create-package">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="create-packageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PackagingService">
    <wsdl:port name="PackagingEndPointImplPort" binding="tns:PackagingServiceSoapBinding">
      <soap:address location="https://preprod.signicat.com/ws/packagingservice-v4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>